<html>
  <body>
    <p>
 {% if  'be2' in ansible_fqdn %}
   <img src="http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-229787.jpg" height="95%"  />
 {% else %}
   <img src="http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-67193.jpg" height="95%"  />
 {% endif %}
    </p>
    
    <p>
      {{ ansible_fqdn }}
    </p>
</body>
</html>
